
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(3, 3, 31, 0.925);
}
/* body::-webkit-scrollbar{
    display: none;
} */

header{
    height: 100vh;
    width: 100%;
    /* background-color: rgba(3, 3, 31, 0.925); */
    display: flex;
    flex-wrap: wrap;
    color: white;
}

             /******************************* NAV BAR *************************************/

       /************************ Left Side **********************/
       .left_side{ 
        display: flex;
    }
    .left_side #image{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-left: 8px;
        margin-top: 3px;
    }
    .left_side h4{
        color: white;
        margin-left: 8px;
        margin-top: 12px;
        font-family: cursive;
    }
    .left_side p{
        color: white;
        margin-top: 20px;
        margin-left: 90px;
        font-weight: 500;
        font-size: 13px;
    font-family: cursive;
    }
     
    /********************************* Right Side *************************************/

#right_side{
    display: inline-block;
}
.Search_bar{
    margin: -3px;
    margin-left: 900px;
    display: flex;
    
}
.Search_bar .search_icon{
    color: white;
    font-size: 15px;
    margin-top:-32px;
    margin-right: -26px;
    position: relative;
    
    /* padding: 5px 3px 5px 0px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; */
}
.Search_bar input{
    font-size: 17px;
    border-radius: 20px;
    background-color:#04046099;
    padding: 7px 34px;
    height: 34px;
    width: 257px;
    align-items: center;
    margin-top: -41px;
    color: white;
}

.Search_bar .voice_search_icon{
    font-size: 18px;
    height: 10px;
    width: 10px;
    color: lightgrey;
    background-color:transparent;
    padding: 5px;
    margin-left: -28px;
    margin-top: -38px;
    position: relative;
}

#right_side .notification_bell{
    color: white;
    margin-left: 1168px;
    margin-top: -31px;
    font-size: 23px;
}
#right_side #notification{
    background-color: #f90606;
    height: 10px;
    width: 10px;
    margin-left: 1179px;
    border-radius: 10px;
    margin-top: -28px;
    position: relative;
}
#right_side .img_icon{
    height: 64px;
    width: 64px;
    border-radius: 44px;
    margin-left: 1235px;
    margin-top: -35px;
}

   /***************************Song Side*************************/

header .song-side{
    height:90%;
    width:75%;
    /* border: 1px solid white; */
    font-family: sans-serif;
} 

/******************************** Trending *************************/

.song-side .Trending{
    margin-left: 24px;
}
.song-side .Trending img{
    height: 173px;
    width: 273px;
    margin: 60px 3px 12px 4px;
    transition: 0.5s ease-in-out;
}
.Trending img:hover {
    width: 300px;
    height: 200px;
    transition: 0.5s linear;
  }

/********************************* Latest Release *********************************************/

.latest_release{
    margin-top: 10px;
    margin-left: 20px;
}
.latest_release h3{
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.latest{
    display: flex;
    flex-wrap: wrap;
}
.latest_release img{
    margin-left: 38px;
    margin-top: 15px;
    height: 70px;
    width: 70px;
}
.latest .release_details{
    margin-top: 30px;
    margin-left: 10px;
}

.release_details i:hover .dropdown {
    display: inline-block;
    cursor: pointer;
  }
  
  .dropdown {
    width: 93px;
    position: absolute;
    left:20%px;
    top: 420px;
    background-color: gold;
    display: none;
    transition: opacity 0.3s;
    color: lightcyan;
    border-radius: 2px;

  }
  
  .dropdown p {
    padding: 4px;
    font-size: 10px;
    font-weight: 600;
  }
  
  .dropdown p:hover {
    background-color: black;
    }

   /**********************************Popular Artist*************************************/

.popular h3{
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 20px;
    margin-left: 20px;
    
} 
.popular .artist{
    display: flex;
    margin-left: 28px;

}

.popular img{
    height: 80px;
    width: 80px;
    border-radius: 70px;
    margin: 10px 0px 10px 15px;
}

.artist p{
    font-size: 12px;
    margin-left: 10px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.popular .artist #kk_playlist{
    position: absolute;
    margin-left: -50px;
    margin-top: 45px;
    margin-right: 30px;
    font-size: 20px;
    opacity: 0.4;
    color: white;
}


.popular .artist #kk_playlist:hover{
    font-size: 23px;
    opacity: 0.9;
    transition: 0.1s linear;
    cursor: pointer;
    color: red;
}
   /*************************************** Different Mood ******************************************/

   .mood{
    height: 120px;
    width: 74%;
    background-color: #04046099;
    margin-left: 30px;
    margin-top: 27px;
    margin-bottom: 24px;
    display: flex;
   }
   .main-div{
    display: inline-block;
   }
   #outermost{
    background-color: yellow;
    height: 63px;
    width: 135px;
    position: relative;
    margin: 30px 15px 0px 22px;
   }

   #outer{
    height: 77px;
    width: 122px;
    background-color: orange;
    margin-top: -71px;
    margin-left: 29px;
    position: relative;
   }

   #inner{
    height: 104px;
    width: 98px;
    background-color: orangered;
    margin-left: 41px;
    margin-top: -90px;
    position: relative;
   }
  .mood #station_image img{
    height: 79px;
    width: 83px;
    position: relative;
    margin-top: -103px;
    margin-left: 49px;
    
}
.mood #station{
    font-weight: 600;
    margin-left: 54px;
    margin-top: -24px;
    position: relative;
    letter-spacing: 1px;
    color: #9c1f64;

}
   .mood .different_mood{
    display: flex;
    flex-direction: column;
   }

   .different_mood p{
    margin-top: 50px;
    margin-left: 32px;
    position: absolute;
    font-weight: 600;
    font-family: auto;
   }
  .mood img{
    height: 91px;
    padding: 2px;
    width: 86px;
    border-radius: 60px;
    margin-left: 7px;
    margin-top: 13px;
    opacity: 0.85;
    transition: 0.3s ease-in-out;
  }

  .mood img:hover{
    height: 100px;
    /* padding: 2px; */
    width:95px;
    border-radius: 75px;
    margin-left: 7px;
    margin-top: 13px;
    opacity: 1;
    /* z-index: 99999999; */
    transition: 0.3s linear;
  }

    /********************************* General Section **********************************/

  .General{
    display: flex;
  }
  .General_Section{
    display: flex;
    flex-direction: column;
  }
  .General_Section img{
    height: 138px;
    width: 233px;
    margin: 15px 0px 67px 30px;
    /* margin-top: 15px;
    margin-left: 28px;
    margin-bottom: 67px; */
    position: relative;
    opacity: 0.85;
    transition: 0.5s ease-in-out;
  }
  .General_Section img:hover{
    height: 160px;
    width: 260px;
    /* margin: 10px 5px 5px 5px; */
    /* padding: 10px 5px 5px 5px; */
    transition: 0.5s linear;
  }

  .General_Section h3{
    margin-top: 65px;
    margin-left: 109px;
    position: absolute;
    font-size: 1.4rem;
  }
   /*********************************** Latest English ***************************************/

  .latest_english{
    display: flex;
  }
  .English h3{
    font-size: 0.8rem;
    margin-top: 0px;
    margin-left: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

 .latest_english img{
    height: 80px;
    width: 80px;
    margin: 10px 0px 0px 11px;
 }
 .latest_english h4{
    font-size: 0.6rem;
    margin: 5px 0px 0px 29px;
 }
 .latest_english .date{
    font-size: 0.3rem;
    margin-left: 35px;
 }
   /*************************************** Latest Hindi **************************************/

.latest_hindi{
    display: flex;
  }
  .Hindi h3{
    font-size: 0.8rem;
    margin-top: 20px;
    margin-left: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

 .latest_hindi img{
    height: 80px;
    width: 80px;
    margin: 10px 0px 0px 11px;
 }
 .latest_hindi h4{
    font-size: 0.6rem;
    margin: 5px 0px 0px 29px;
 }

 .latest_hindi .date{
    font-size: 0.3rem;
    margin-left: 35px;
 }



  /*************************************** Queue Section **********************************/

 header  h1{
    font-size: 20px;
    margin-top: 50px;
}
header .Queue h4{
    margin-left: 120px;
    font-size: 13px;
}
header .Queue{
    position: relative;
}
header select {
    color: cyan;
    background:transparent;
    border-style: none;
    cursor: pointer;
    
  }
  header h1,h4{
    display: inline-block;
}

    /*Menu Side*/

header .menu-side {
    margin-top: -500px;
    font-size: 10px;
    margin-left: 1000px;
    height:90%;
    width:25%;
    
    /* border: 1px solid white; */
}

header .menu-side .playlist{
    height: 490px;
    overflow: auto;
}
 
header .menu-side .playlist::-webkit-scrollbar{
    display: none;
}

.playlist .song-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    transition: .2s;
    cursor: pointer;
  }
  .playlist p{
    font-size: 8px;
  }
  .song-container .index{
    font-size:10px ;
    color: lightgrey;
    margin-left: 4px;
  }

.song-container img{
    margin: 10px;
    width: 40px;
    height: 40px;
    /* border-radius: 3px; */
    /* box-shadow: 2px 2px 17px 2px#242020; */

}
.song-container i {
    margin-right: 5%;
  }

  .song-info {
    margin-left: 10px;
    width: 210px;
  }

  .song-info h3{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

      /**************************************** Master Play *********************************************/

header .master_play{
        height: 60px;
        width: 85vw;
        position: fixed;
        bottom: 1px;
        border-radius: 90px;
        left: 80px;
        border: none;
        color: white;
        background-color: grey;
        display: flex;
        align-items: center;
      }
header .master_play .wave{
          width: 30px;
          height: 30px;
          /* border: 1px solid white; */
          padding-bottom: 5px;
          display: flex;
          align-items: flex-end;
          margin-right: 10px;
          margin-left: 10px;
      
      }

header .master_play .wave .wave1{
    width: 3px;
    height: 10px;
    background: cyan;
    margin-right:3px;
    border-radius: 10px 10px 0px 0px;
    animation: wave 0.5s linear infinite;
}

header .master_play .wave .wave1:nth-child(2){
    height: 13px;
    margin-right: 3.5px;
    animation-delay: 0.4s;
}
header .master_play .wave .wave1:nth-child(3){
    height: 8px;
    animation-delay: 0.8s;
}

@keyframes wave {
    0%{
        height: 10px;
    }
    50%{
        height: 15px;
    }
    100%{
        height: 10px;
    }
}

header .master_play img{
    height: 33px;
    width: 33px;
}
  
header .master_play h5{
    width: 100px;
    /* border: 1px solid white; */
    margin-left: 15px;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    font-family: sans-serif;
}

header .master_play h5 .subtitle{
    font-size: 11px;
    width: 100%;
    color: #4c5262;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

header .master_play .icon{
    font-size: 17px;
    margin: -1px 20px 0px 74px;
    outline: none;
    cursor: pointer;
    
}

header .master_play .icon i{
    margin-right: 10px;
}

header .master_play span{
    width: 32px;
    font-weight: 400;
    /* border: 1px solid white; */
    font-size: 13px;
    margin-top: -3px;
    margin-left: 0px;
}

header .master_play span #current_time{
    margin-top: 0px;
    margin-left: 0px;
}

header .master_play .bar{
    position: relative;
    width: 43%;
    height: 2px;
}
header .master_play .bar #seek{
    margin-top: -7px;
}

header .master_play .bar .bar2{
    position: absolute;
    background: #36e2ec;
    width: 50%;
    height: 100%;
    top: -1;
    transition: 1s linear;
}

header .master_play .bar .dot{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    background: #36e2ec;
    left: 0;
    top: -3px;
    transition: 1s linear;
}

header .master_play .bar .dot::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #36e2ec;
    left: -6px;
    top: -6.5px;
    box-shadow: inset 0px 0px 5px #36e2ec;
}

header .master_play .bar input{
    position: absolute;
    width: 100%;
    top: -1.3px;
    left: 0;
    cursor: pointer;
    z-index: 999999999999999999999999999999999999999999999999;
    opacity: 0;
}

 header .master_play #current_end{
    margin-left: -158px;
 }

header .master_play .vol{
    position: relative;
    width: 100px;
    height: 2px;
    background: grey;
    margin-left: 40px;
}

header .master_play .vol #vol_icon{
    position: absolute;
    color: white;
    font-size: 16px;
    top: -8px;
    left: -30px;

}

header .master_play .vol input{
    position: absolute;
    top: -7px;
    width: 100%;
    left: 0;
    cursor: pointer;
    z-index: 99999999999999999999;
    opacity: 0;

}

header .master_play .vol .vol_bar{
    position: absolute;
    background: #36e2ec;
    top: 0;
    width: 50%;
    height: 100%;
    left: 0;
    transition: 1s linear;

}

header .master_play .vol .dot{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    background: #36e2ec;
    left: 0;
    top: -2px;
    transition: 1s linear;
}

header .master_play .vol .dot::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #36e2ec;
    left: -6px;
    top: -6.5px;
    box-shadow: inset 0px 0px 5px #36e2ec;
}

header .master_play .vol #download{
    position: absolute;
    color: white;
    font-size: 16px;
    /* border: 1px solid white; */
    top: -8px;
    left: 130px;
    /* height: 25px;
    width: 25px; */
    cursor: pointer;
}

header .master_play .vol #mute{
    position: absolute;
    font-size: 16px;
    color: white;
    /* border: 1px solid white; */
    margin-left: 160px;
    margin-top: -8px;
    cursor: pointer;
}

header .master_play .vol #headphone{
    position: absolute;
    font-size: 16px;
    color: white;
    /* border: 1px solid white; */
    margin-left: 190px;
    margin-top: -8px;
    cursor: pointer;
}